.bg-color-custom {
    background-color: #2B2A4C;
}

.bg-color-body-element {
    background-color: #BB9CC0;
}

.img-alignment {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.font-style-applied {
    margin-top: 5rem;
    font-weight: 500;
}

.table-format {
    margin: 2rem;
}

.text-margins {
    margin: 1rem;
}
