/*Elements*/
h1 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    clear: both;
    color: #F5A901;
    animation-name: startOfNewPageLetters;
    animation-duration: 1s;
}

body {
    animation: background-animation;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

span {
    color: white;
}

/*Classes*/

.no-animation-a:hover {
    animation-name: none;
}

.background-text-for-courses {
    background-color: rgba(15, 16, 53, 0.75);
}

.shadow-for-text {
    text-shadow: 1px 1px 2px black;
}

@media (min-width: 1px) and (max-width: 720px) {

    /*Elements*/
    a {
        flex-basis: 25%;
        font-size: 1.5rem;
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 0.5s;
    }

    /*ID*/


    #brand {
        text-align: center;
    }

    #company-name {
        font-family: 'Caveat', cursive;
        pointer-events: none;
        font-weight: bold;
        font-size: 2rem;
    }

    #navigation-top {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
        padding: 25px;
        background-color: gray;
        border-width: 2px;
        border-style: solid;
        border-color: #F5A901;
        height: auto;
        border-radius: 15px;
        animation-name: pulse;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    #flex-container {
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
    }

    #main-image {
        grid-area: 1/1/4/4;
        background-color: rgba(255, 255, 255, 0.50);
        border-radius: 15px;
        animation-name: mainImage;
        animation-duration: 2s;
    }

    #intro-text {
        font-size: 4rem;
        font-family: 'Carattere', cursive;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 4s;
    }

    #slogan-text {
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-size: 1.5rem;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 2s;
    }

    /*Classes*/

    .span-style {
        visibility: hidden;
    }

    .dividers-index {
        border-style: solid;
        border-radius: 15px;
        border-color: #F5A901;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 150px;
        margin-top: 75px;
        margin-bottom: 75px;
        padding: 25px;
        animation-name: pulse;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    .header-index {
        grid-area: 1/1/2/3;
    }

    .img-left-container {
        display: grid;
        grid-area: 2/1/3/2;
        justify-content: center;
        align-items: center;
    }

    .img-right-container {
        display: grid;
        grid-area: 2/2/3/3;
        align-items: center;
        justify-content: center;
    }

    .image-element {
        border-radius: 15px;
        width: 100px;
    }

    .paragraphs-index-container-right {
        grid-area: 2/2/3/3;
    }

    .paragraphs-index-container-left {
        grid-area: 2/1/3/2;
    }

    .paragraphs-index {
        justify-content: center;
        align-items: center;
        text-align: center;
        text-shadow: 1px 1px 20px #F5A901;
        color: black;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        font-size: small;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }

    .dividers-border {
        overflow: hidden;
        height: 300px;
        border-radius: 15px;
        border-style: solid;
        border-color: #F5A901;
        margin-top: 0px;
        margin-bottom: 25px;
        padding: 25px;
        text-align: center;
    }

    .text-containers-side {
        display: grid;
        z-index: 1;
        grid-area: 1/2/3/3;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .paragraphs {
        text-shadow: 1px 1px 20px #F5A901;
        color: black;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        font-size: xx-large;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }
}

@media (min-width: 721px) and (max-width: 1080px) {

    /*Elements*/
    a {
        flex-basis: 25%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 2rem;
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }

    a:hover {
        flex-basis: 25%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 2rem;
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        animation-name: hover-animation;
        animation-duration: 0.5s;
    }

    /*ID*/

    #brand {
        text-align: center;
    }

    #company-name {
        font-family: 'Caveat', cursive;
        pointer-events: none;
        font-weight: bold;
        font-size: 3rem;
    }

    #navigation-top {
        margin-top: 75px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: gray;
        border-width: 2px;
        border-style: solid;
        border-color: #F3EDC8;
        height: 100px;
        border-radius: 15px;
        animation-name: pulse;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    #flex-container {
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
    }

    #main-image {
        grid-area: 1/1/4/4;
        background-color: rgba(255, 255, 255, 0.50);
        border-radius: 15px;
        animation-name: mainImage;
        animation-duration: 2s;
    }

    #intro-text {
        font-size: 4rem;
        font-family: 'Carattere', cursive;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 4s;
    }

    #slogan-text {
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-size: 2rem;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 2s;
    }

    /*Classes*/

    .span-style {
        color: #F5A901;
    }

    .dividers {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
    }

    .dividers-index {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 150px;
        margin-top: 75px;
        margin-bottom: 75px;
        padding: 25px;
        border-style: solid;
        border-color: #F5A901;
        border-radius: 15px;
        animation-name: pulse;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    .header-index {
        grid-area: 1/1/2/3;
    }

    .img-left-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-area: 2/1/3/2;
    }

    .img-right-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-area: 2/2/3/3;
    }

    .image-element {
        border-radius: 15px;
        width: 150px;
    }

    .paragraphs-index-container-right {
        grid-area: 2/2/3/3;
    }

    .paragraphs-index-container-left {
        grid-area: 2/1/3/2;
    }

    .paragraphs-index {
        justify-content: center;
        align-items: center;
        text-align: center;
        text-shadow: 1px 1px 20px #F5A901;
        color: black;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        font-size: xx-large;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }

    .dividers-border {
        overflow: hidden;
        height: 300px;
        border-radius: 15px;
        border-style: solid;
        border-color: #F5A901;
        margin-top: 0px;
        margin-bottom: 25px;
        padding: 25px;
        text-align: center;
    }

    .text-containers-side {
        display: grid;
        z-index: 1;
        grid-area: 1/2/3/3;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .paragraphs {
        text-shadow: 1px 1px 20px #F5A901;
        color: black;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        font-size: xx-large;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }
}

@media (min-width: 1081px) {

    /*Elements*/
    a {
        flex-basis: 25%;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 2rem;
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }

    a:hover {
        flex-basis: 25%;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 2rem;
        font-family: 'Noto Serif', serif;
        text-decoration: none;
        animation-name: hover-animation;
        animation-duration: 0.5s;
    }

    /*ID*/

    #brand {
        text-align: center;
    }

    #company-name {
        font-family: 'Caveat', cursive;
        pointer-events: none;
        font-weight: bold;
        font-size: 3rem;
    }

    #navigation-top {
        margin-top: 75px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: gray;
        border-width: 2px;
        border-style: solid;
        border-color: #F3EDC8;
        height: 100px;
        border-radius: 15px;
        animation-name: pulse;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    #flex-container {
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 150px);
    }

    #main-image {
        grid-area: 1/1/4/4;
        background-color: rgba(255, 255, 255, 0.50);
        border-radius: 15px;
        animation-name: mainImage;
        animation-duration: 2s;
    }

    #intro-text {
        font-size: 4rem;
        font-family: 'Carattere', cursive;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 4s;
    }

    #slogan-text {
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-size: 2rem;
        color: #F5A901;
        animation-name: startOfNewPageLetters;
        animation-duration: 2s;
    }

    /*Classes*/

    .span-style {
        color: #F5A901;
    }

    .dividers {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px;
    }

    .dividers-index {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 150px;
        margin-top: 75px;
        margin-bottom: 75px;
        padding: 25px;
        border-style: solid;
        border-radius: 15px;
        border-color: #F5A901;
        animation-name: pulse;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    .header-index {
        grid-area: 1/1/2/3;
    }

    .img-left-container {
        display: grid;
        grid-area: 2/1/3/2;
        justify-content: center;
        align-items: center;
    }

    .img-right-container {
        display: grid;
        grid-area: 2/2/3/3;
        justify-content: center;
        align-items: center;
    }

    .image-element {
        border-radius: 15px;
        width: 200px;
    }

    .paragraphs-index-container-right {
        grid-area: 2/2/3/3;
    }

    .paragraphs-index-container-left {
        grid-area: 2/1/3/2;
    }

    .paragraphs-index {
        justify-content: center;
        align-items: center;
        text-align: center;
        text-shadow: 1px 1px 20px #F5A901;
        color: black;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        font-size: xx-large;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }

    .dividers-border {
        overflow: hidden;
        height: 300px;
        border-radius: 15px;
        border-style: solid;
        border-color: #F5A901;
        margin-top: 0px;
        margin-bottom: 25px;
        padding: 25px;
        text-align: center;
    }

    .text-containers-side {
        display: grid;
        z-index: 1;
        grid-area: 1/2/3/3;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .paragraphs {
        text-shadow: 1px 1px 20px #F5A901;
        color: black;
        font-weight: bold;
        font-family: 'Noto Serif', serif;
        font-size: xx-large;
        animation-name: startOfNewPageLetters;
        animation-duration: 1s;
    }

}

/*Animations*/
@keyframes background-animation {
    0% {
        background-image: url("../images/back.png");
        background-position: top;
    }

    50% {
        background-image: url("../images/back.png");
        background-position: left;
    }

    100% {
        background-image: url("../images/back.png");
        background-position: top;
    }
}

@keyframes pulse {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: #F5A901;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes startOfNewPageLetters {
    0% {
        color: transparent;
    }

    50% {
        color: transparent;
    }

    100% {
        color: #F5A901;
    }
}

@keyframes mainImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes images {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hover-animation {
    0% {
        color: #F5A901;
    }

    50% {
        color: #F5A901;
        font-size: 2.5rem;
    }

    100% {
        color: #F5A901;
    }
}