.bg-color-custom {
    background-color: #2B2A4C;
}

.bg-color-body-element {
    background-color: #BB9CC0;
}

.img-alignment {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.font-style-applied {
    margin-top: 5rem;
    font-weight: 500;
}

.table-format {
    margin: 2rem;
}

.table-center {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.text-margins {
    margin: 3rem;
}

.a-modified:hover {
    color: #212529;
    text-decoration: none;
}

.a-modified {
    color: #212529;
    text-decoration: none;
}

.text-alignment {
    text-align: center;
}

.nav-dimensions {
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.week-style {
    background-color: rgb(103, 114, 157, 0.4);
    padding: 50px;
    margin: 20px 100px;
    border-style: solid;
    font-weight: 900;
    letter-spacing: 5px;
}

.com-approach-style {
    color: white;
    font-style: italic;
    text-shadow: #FC0 1px 0 10px;
}
